{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Shopping List</h1>

  <form id="main-form">
    <div class="form-group">
      <label for="title">Item</label>
      <input type="text" class="form-control" id="name" placeholder="Item...">
    </div>
    <div class="form-group">
      <label for="author">Category</label>
      <input type="text" class="form-control" id="category" placeholder="Category...">
    </div>
    <button type="submit" class="btn btn-default">Add Item</button>
  </form>

  </div>
  <br>
  <br>
  <div class="container">
    <div class="alert alert-success" role="alert" id="success"></div>
    <div class="alert alert-warning" role="alert" id="fail"></div>
    <div id="results"></div>
  </div>


  <div class="modal fade" id="crud-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Item CRUD</h4>
        </div>
        <div class="modal-body">
          <p id="modal-item"></p>
          <form id="modal-form">
              <div class="form-group">
                <label for="exampleInputEmail1">Update Category</label>
                <input type="text" class="form-control" id="input-update-category" placeholder="New category...">
              </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </div>
          <div class="modal-footer">
            <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="delete" type="button" class="btn btn-warning">Delete Item</button>
            <button id="update" type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>